<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CodeMetrics.WorkerServices.CodeMetricsServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="CodeMetrics.WorkerServices.CodeMetricsServiceBehavior"
        name="CodeMetrics.WorkerServices.CodeMetricsService">
        <endpoint address="" binding="wsHttpBinding" contract="CodeMetrics.WorkerServices.ICodeMetricsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/CodeMetrics.WorkerServices/CodeMetricsService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
