################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CodeMetrics/v14/.suo
/CodeMetrics.Adornments/bin
/CodeMetrics.Adornments/obj
/CodeMetrics.Adornments/obj
/CodeMetrics.Calculators/bin
/CodeMetrics.Calculators/obj
