################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/obj/**
**/bin/**
.vs/CodeMetrics/v15/.suo
/.vs/CodeMetrics/v14/.suo
