<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="CodeMetrics.WorkerProcess.MetricsCalculatorBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="CodeMetrics.WorkerProcess.MetricsCalculatorBehavior"
                name="CodeMetrics.WorkerProcess.MetricsCalculator">
                <endpoint address="" binding="wsHttpBinding" contract="CodeMetrics.WorkerProcess.IMetricsCalculator">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8732/Design_Time_Addresses/CodeMetrics.WorkerProcess/MetricsCalculator/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
